
body {
    background-color: black;
    background-image:
        radial-gradient(circle at center, transparent, black),
        repeating-linear-gradient(90deg, black, hsla(0, 0%, 16%, 1) 2px, black 2px);
    color: white;
    font-family: system-ui, sans-serif;
    height: 100svh;
    padding: 0.8rem 2rem;
    display: grid;
    place-items: center;

}

h1 {
    font-family: sans-serif;
    font-size: clamp(2rem, 1.652rem + 1.739vw, 3rem);
}

p {
    font-size: 1.1rem;
}

.grid {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50rem;

    >* {
        padding: 10px;
        margin: 0;
    }
}

figure,
img {
    transition: all .2s ease-in-out;
}

figure {
    background-color: rgb(136, 136, 136);
    mix-blend-mode: plus-lighter;

    &:nth-of-type(1) {
        background-color: deeppink;
    }

    &:nth-of-type(2) {
        background-color: yellowgreen;
    }
}

img {
    cursor: pointer;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;

    filter: grayscale(100%) contrast(2) brightness(2) blur(0.5px);
    mix-blend-mode: hard-light;

    clip-path: rect(1% 99% 99% 1%);
}

figure:has(img:hover, img:focus) {
    background-color: white;
    mix-blend-mode: normal;

    img {
        mix-blend-mode: normal;
        filter: none;
    }
}

@media screen and (max-width: 600px) {

    .grid {
        padding: 1rem;

        >* {
            grid-column: auto / span 2;
        }
    }

}