<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackLabs</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.styles.css')}}">
    <link rel="icon" type="image/png" sizes="180x180"
        href="{{ url_for('static', filename='/resources/images/logo-removebg-preview.png') }}">

</head>

<body>


    <div class="grid">
        <div>
            <h1>Hack Cat Labs</h1>
            <p>Ethical hacking, Cybersecurity, Pentesting, whatever you want to call it...</p>
        </div>
        <figure>
            <img src="../static/resources/images/asset.jpeg">

        </figure>
        <figure>
            <img src="../static/resources/images/best1.jpeg">

        </figure>
        <figure>
            <img src="../static/resources/images/logo.png" </figure>
    </div>



    



















</body>

</html>